.git
.idea
target
venv
venv2
**/.venv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.swp
**/.DS_Store
benchmarks/results
charts
analysis
extended-benchmarking/regex_bench_framework/attic
extended-benchmarking/regex_bench_framework/backups
extended-benchmarking/regex_bench_framework/results
extended-benchmarking/regex_bench_framework/reports
extended-benchmarking/regex_bench_framework/debug_*
